body {
    background-color:rgb(240, 243, 255);
}
.container{
    background-color: #b8c7cc;
    width: 75%;
    margin: 20px auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.titulo{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.formulario{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 50px;
    width: 50%;
    min-height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    gap:10px;
}
.campo-texto{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.containerTarefas{
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    min-height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    gap:10px;
}
.radio-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

